* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* svg components */

.svg_wrap {
  position: absolute;
}
.cloud {
  background-size: cover;
  width: 100%;
}

.house_wrap {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 5;
}
.house_wrap + span {
  position: absolute;
  bottom: calc(50% - 100px);
  font-size: 80px;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.02px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 0px #ffb650, 4px 4px 0px #ffd662, 7px 7px 0px #ff80bf, 12px 12px 0px #ef5097,
    17px 17px 0px #6868ac, 21px 21px 0px #90b1e0;
  transform: scale(0.5);
  z-index: 5;
}
.house_wrap:hover {
  cursor: pointer;
}
.house_wrap:hover + span {
  color: #fff;
  animation: textFrames 1s ease-in-out infinite;
}

/* balloons */

.balloon_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 1s;
  z-index: 3;
}
.fixed {
  transform: translate(-50%, -20%) !important;
}
.balloon_bottom {
  width: 15px;
  height: 30px;
  border: 2px solid #000;
  z-index: -1;
  left: calc(50% - 10px);
  transform: perspective(100px) rotateX(50deg);
  border-radius: 5px 5px 5px 5px;
}

.lines {
  position: absolute;
  width: 2px;
  height: 800px;
  background: #000;
  left: 50%;
  z-index: -2;
}

/* balloon normal */
.balloon_normal > .balloon_bottom {
  position: absolute;
  bottom: -18px;
  left: calc(50% -15px);
}
.balloon_normal {
  width: inherit;
  height: inherit;
}
.normal_head {
  width: 160px;
  height: 185px;
  border: 2px solid #000;
  border-radius: 90% 90% 100% 100%;
}
.balloon_highlight {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 15px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 5px 10px 0 -2px rgb(255, 255, 255, 0.8) inset;
  transform: rotate(35deg);
}
.balloon_highlight::before {
  content: '';
  display: block;
  top: 20px;
  left: 25px;
  width: 15px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 5px 6px 0 -1px rgb(255, 255, 255, 0.8) inset;
  transform: translate(10px, -10px) rotate(80deg);
}

/* balloon heart */
.balloon_heart {
  width: 176px;
  height: 176px;
  position: relative;
  transform-origin: 50% 50%;
  transform: rotate(75deg);
}
.balloon_heart div {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #fe3b36;
}
.balloon_heart ~ .balloon_bottom_wrap {
  position: absolute;
  z-index: -1;
  transform: rotate(-15deg) scale(0.8);
  top: 120px;
  left: calc(50% + 13px);
}
.balloon_heart ~ .balloon_bottom_wrap .balloon_bottom {
  background-color: #fe3b36;
  transform: perspective(100px) rotateX(-150deg);
}
.balloon_heart ~ .balloon_highlight {
  top: 55px;
  left: 40px;
  transform: rotate(-55deg);
}
.balloon_heart_right {
  top: 70px;
  border-radius: 50px 0 50px 50px;
  border: 2px solid #000;
  border-top: none;
}
.balloon_heart_left {
  top: 0;
  border-radius: 50px 50px 0 50px;
  border: 2px solid #000;
  border-bottom: none;
}
.balloon_heart_bottom {
  bottom: 51px;
  right: 51px;
  transform: rotate(-45deg);
  border-radius: 0 0 20px 0;
  border: 2px solid #000;
  border-top: none;
  border-left: none;
}

/* balloon flower */
.balloon_flower {
  width: 208px;
  height: 190px;
}
.balloon_flower > .balloon_bottom {
  position: absolute;
  background-color: #fff;
  bottom: -6px;
  left: calc(50% - 7px);
}
.flower_head {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 35px 35px 35px 35px;
}
.flower_head:nth-child(1) {
  left: 30px;
  box-shadow: -6px -2px 0 -3px rgb(0, 0, 0);
  transform: rotate(45deg);
}
.flower_head:nth-child(2) {
  right: 30px;
  box-shadow: 2px -6px 0 -3px rgb(0, 0, 0);
  transform: rotate(45deg);
}
.flower_head:nth-child(3) {
  top: 60px;
  box-shadow: -4px -0px 0 -1px rgb(0, 0, 0);
}
.flower_head:nth-child(4) {
  top: 60px;
  right: 0;
  box-shadow: 4px -0px 0 -1px rgb(0, 0, 0);
}
.flower_head:nth-child(5) {
  bottom: 0;
  left: 30px;
  box-shadow: 2px 4px 0 -1px rgb(0, 0, 0);
  transform: rotate(45deg);
}
.flower_head:nth-child(6) {
  bottom: 0;
  right: 30px;
  box-shadow: -2px 6px 0 -3px rgb(0, 0, 0);
  transform: rotate(-45deg);
}
.flower_head.inside {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 20px 20px,
    rgba(255, 255, 255, 1) 1%,
    rgb(245, 249, 0) 30%,
    rgb(255, 221, 0) 75%
  );
  border: 2px solid #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
.flower_eyes_left {
  position: absolute;
  left: 35px;
  top: 25px;
  width: 8px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
}
.flower_eyes_right {
  position: absolute;
  right: 35px;
  top: 25px;
  width: 8px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
}
.flower_mouse {
  position: absolute;
  bottom: 15px;
  left: calc(50% - 33px);
  right: 50%;
  width: 65px;
  height: 65px;
  background-color: transparent;
  border-bottom: 4px solid #000;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

/* balloon bear */
.balloon_bear > .balloon_bottom {
  bottom: -20px;
  background: rgb(190, 120, 60);
}
.balloon_bear {
  width: 260px;
  height: 150px;
}
.balloon_bear div {
  position: absolute;
}
.right_ear,
.left_ear,
.right_eye,
.left_eye,
.nose,
.right_cheek,
.left_cheek {
  border-radius: 50%;
}
.right_ear,
.left_ear {
  background: rgb(190, 120, 60);
  width: 80px;
  height: 40px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border: 2px solid #000;
  border-bottom: 0;
}
.ear_inner {
  background: rgb(100, 60, 24);
  width: 40px;
  height: 20px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}
.right_ear {
  left: 30px;
  transform: translate(-1px, -3px) rotate(-44deg);
}
.left_ear {
  right: 30px;
  transform: translate(1px, -3px) rotate(44deg);
}
.right_ear > .ear_inner {
  transform: translate(18px, 15px);
}
.left_ear > .ear_inner {
  transform: translate(18px, 15px);
}
.bear_head {
  background: rgb(190, 120, 60);
  width: 160px;
  height: 150px;
  right: 0;
  left: 0;
  margin: auto;
  border: 2px solid #000;
  border-radius: 60% 60% 50% 50%;
}
.right_eye,
.left_eye {
  background-color: black;
  top: 65px;
  width: 20px;
  height: 20px;
}
.right_eye {
  left: 45px;
}
.left_eye {
  right: 45px;
}
.nose {
  background: rgb(0, 0, 0);
  bottom: 50px;
  right: 0;
  left: 0;
  margin: auto;
  width: 20px;
  height: 15px;
}
.right_cheek,
.left_cheek {
  bottom: 40px;
  width: 20px;
  height: 20px;
}
.right_cheek {
  box-shadow: -2px -2px 0 0 rgb(115, 80, 45) inset;
  left: 60px;
}
.left_cheek {
  box-shadow: 2px -2px 0 0 rgb(115, 80, 45) inset;
  right: 60px;
}
.bear_mouse {
  left: calc(50% - 5px);
  bottom: 35px;
  width: 10px;
  height: 10px;
  border-radius: 0 0 70% 0;
  background-color: rgb(115, 80, 45);
  transform: rotate(45deg);
}

/* canvas components */

.canvas_wrap {
  position: absolute;
  border: 1px solid red;
  z-index: 0;
}

/* css animations */
.balloon_animation {
  transition: transform 0.5s ease;
  animation: balloons 4s ease-in-out infinite;
}
@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}

@keyframes textFrames {
  0%,
  100% {
    text-shadow: 2px 2px 0px #ffb650, 4px 4px 0px #ffd662, 7px 7px 0px #ff80bf, 12px 12px 0px #ef5097,
      17px 17px 0px #6868ac, 21px 21px 0px #90b1e0;
  }
  50% {
    text-shadow: 2px 2px 0px #90b1e0, 4px 4px 0px #6868ac, 7px 7px 0px #ef5097, 12px 12px 0px #ff80bf,
      17px 17px 0px #ffd662, 21px 21px 0px #ffb650;
  }
}
