* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: skyblue;
}

.svg_wrap {
  position: absolute;
}

.cloud {
  background-size: cover;
  width: 100%;
}

.house_wrap {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
}

.balloon_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.balloon_bottom {
  width: 15px;
  height: 30px;
  border: 2px solid #000;
  z-index: -1;
  left: calc(50% - 10px);
  perspective: 100px;
  transform: perspective(100px) rotateX(50deg);
  border-radius: 0 0 5px 5px;
}

/* balloon_bear */
.balloon_bear > .balloon_bottom {
  top: 42%;
  background: rgb(190, 120, 60);
}
.balloon_bear {
  position: relative;
  width: 260px;
  height: 330px;
}
.balloon_bear div {
  position: absolute;
}
.right_ear,
.left_ear,
.right_eye,
.left_eye,
.nose,
.right_cheek,
.left_cheek {
  border-radius: 50%;
}
.right_ear,
.left_ear {
  background: rgb(190, 120, 60);
  width: 80px;
  height: 40px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border: 2px solid #000;
  border-bottom: 0;
}
.ear_inner {
  background: rgb(100, 60, 24);
  width: 40px;
  height: 20px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}
.right_ear {
  left: 30px;
  transform: translate(-1px, -3px) rotate(-44deg);
}
.left_ear {
  right: 30px;
  transform: translate(1px, -3px) rotate(44deg);
}
.right_ear > .ear_inner {
  transform: translate(18px, 15px);
}
.left_ear > .ear_inner {
  transform: translate(18px, 15px);
}
.bear_head {
  background: rgb(190, 120, 60);
  width: 160px;
  height: 150px;
  right: 0;
  left: 0;
  margin: auto;
  border: 2px solid #000;
  border-radius: 60% 60% 50% 50%;
}
.right_eye,
.left_eye {
  background-color: black;
  top: 65px;
  width: 20px;
  height: 20px;
}
.right_eye {
  left: 45px;
}
.left_eye {
  right: 45px;
}
.nose {
  background: rgb(0, 0, 0);
  bottom: 50px;
  right: 0;
  left: 0;
  margin: auto;
  width: 20px;
  height: 15px;
}
.right_cheek,
.left_cheek {
  bottom: 40px;
  width: 20px;
  height: 20px;
}
.right_cheek {
  box-shadow: -2px -2px 0 0 rgb(115, 80, 45) inset;
  left: 60px;
}
.left_cheek {
  box-shadow: 2px -2px 0 0 rgb(115, 80, 45) inset;
  right: 60px;
}
.bear_mouse {
  left: calc(50% - 5px);
  bottom: 35px;
  width: 10px;
  height: 10px;
  border-radius: 0 0 70% 0;
  background-color: rgb(115, 80, 45);
  transform: rotate(45deg);
}

/* css animations */
.balloon_animation {
  transition: transform 0.5s ease;
  animation: balloons 4s ease-in-out infinite;
}
@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}
